body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.blink {
  animation: animateBlink 3s infinite linear;
}

@keyframes animateBlink {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
